.table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.tableElement {
  display: flex;
  justify-content: space-between;
  border: 1px solid #eee;
  padding: 10px;
}

.elementLabel {
  font-weight: bold;
  margin-right: 8px;
}
